<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <link th:href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="main-content">
        <h2>Lista de livros cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>ISBN</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${listaLivros}">
                    <td th:text="${livro.id}">ID</td>
                    <td th:text="${livro.titulo}">Título</td>
                    <td th:text="${livro.autor}">Autor</td>
                    <td th:text="${livro.categoria}">Categoria</td>
                    <td th:text="${livro.preco}">Preço</td>
                    <td th:text="${livro.isbn}">ISBN</td>
                    <td>
                        <a th:href="@{/livro/edicao/{id}(id = ${livro.id})}">Editar</a>
                        <span> | </span>
                        <a th:href="@{/livro/deletar/{id}(id = ${livro.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:each="Livro : ${listaLivros}" th:attr="titulo=${livro.titulo}"></div>
        <div th:each="Livro : ${listaLivros}" th:attr="autor=${livro.autor}"></div>
        <div th:each="Livro : ${listaLivros}" th:attr="categoria=${livro.categoria}"></div>
        <div th:each="Livro : ${listaLivros}" th:attr="preco=${livro.preco}"></div>
        <div th:each="Livro : ${listaLivros}" th:attr="isbn=${livro.isbn}"></div>
        <div th:each="Livro : ${listaLivros}" th:attr="id=${livro.id}"></div>

            <br>

            <br>
                <strong>ID</strong> <span th
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>