<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livro</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:class="main_content">
        <form method="post" th:action="@{cadastrar}" th:object="${livroRequest}">
            <h2><span th:text="${#messages.msg('cadastro.titulo')}"></span></h2>
            <br>
            <div>
                <label for="titulo"><span th:text="${#messages.msg('livro.attr.titulo')}"></span>:</label> <input type="text" id="titulo" th:field="*{titulo}">
                <p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" th:errorclass="error"></p>
            </div>
            <div>
                <label for="autor"><span th:text="${#messages.msg('livro.attr.autor')}"></span>:</label> <input type="text" id="autor" th:field="*{autor}">
                <p th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" th:errorclass="error"></p>
            </div>
            <div>
                <label for="categoria"><span th:text="${#messages.msg('livro.attr.categoria')}"></span>:</label>
                <select id="categoria" th:field="*{categoria}">
                    <option name="ROMANCE" value="ROMANCE"><span th:text="${#messages.msg('livro.attr.categoria.ROMANCE')}"></span></option>
                    <option name="FICCAO" value="FICCAO"><span th:text="${#messages.msg('livro.attr.categoria.FICCAO')}"></span></option>
                    <option name="FANTASIA" value="FANTASIA"><span th:text="${#messages.msg('livro.attr.categoria.FANTASIA')}"></span></option>
                </select>
                <p th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" th:errorclass="error"></p>
            </div>
            <div>
                <label for="preco"><span th:text="${#messages.msg('livro.attr.preco')}"></span>:</label> <input type="text" id="preco" th:field="*{preco}">
                <p th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" th:errorclass="error"></p>
            </div>
            <div>
                <label for="isbn"><span th:text="${#messages.msg('livro.attr.isbn')}"></span>:</label> <input type="text" id="isbn" th:field="*{isbn}">
                <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" th:errorclass="error"></p>
            </div>
            <div>
                <button type="submit"><span th:text="${#messages.msg('cadastro.cadastro')}"></span></button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>