<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edição de Livro</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div>
        <form method="post" th:action="@{/livro/editar/{id}(id=${idLivro})}" th:object="${livro}">
            <h2>Edição de Livro</h2>
            <input type="hidden" th:field="${idLivro}">
            <br>
            <table>
                <tr>
                    <td>Título:</td>
                    <td><input type="text" th:field="*{titulo}"></td>
                </tr>
                <tr>
                    <td>Autor:</td>
                    <td><input type="text" th:field="*{autor}"></td>
                </tr>
                <tr>
                    <td>Categoria:</td>
                    <td>
                        <select name="categoria" th:field="*{categoria}">
                            <option name="ROMANCE" value="ROMANCE">Romance</option>
                            <option name="FICCAO" value="FICCAO">Ficção</option>
                            <option name="FANTASIA" value="FANTASIA">Fantasia</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Preço:</td>
                    <td><input type="text" th:field="*{preco}"></td>
                </tr>
                <tr>
                    <td>ISBN:</td>
                    <td><input type="text" th:field="*{isbn}"></td>
                </tr>
                <tr><td colspan="2"><input type="submit" value="Atualizar"></td></tr>
            </table>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>