.header {
    background-color: rgba(127, 127, 127, 0.25);
    color: darkblue;
}

.main_content {
    padding: 50px 0 50px 50px;
}

th {
    width: 100px;
}

label {
    width: 120px;
    padding: 5px 10px 5px 0;
}

.error {
    color: red;
}